.resultSet {
	width: 530px;
}
.resultSet ul {
	margin: 0;
}
.resultSet li {
	margin: 0 0 10px;
	float: left;
	list-style: none !important;
	list-style-image: none !important;
	width: 100%;
}
.resultSet .lc {
	float: left;
	width: 170px;
	margin-right: 10px;
}
.resultSet .rc {
	float: left;
	width: 350px;
}
.resultSet .readMore {
	font-weight: bold;
	display: block;
}