.resultSet ul {
	margin: 0;
}
.resultSet li {
	margin: 0 0 10px;
	float: left;
	list-style: none !important;
	list-style-image: none !important;
	width: 100%;
}
.resultSet .readMore {
	font-weight: bold;
	display: block;
}
.resultSet .summary {
	margin-bottom: 10px;
}
.resultSet .highlight {
	background: yellow;
}

.pagination,
.pagingLinks {
	clear: both;
}
.pagination p {
	clear: left;
	float: left;
	margin-bottom: 5px;
}
.pagination a.previousPage,
.pagination span.previousPage {
	padding-left: 0;
}
a.previousPage:before,
span.previousPage:before {
	content: '< ';
}
a.nextPage:after,
span.nextPage:after {
	content: ' >';
}
.pagination a,
.pagination span {
	padding: 0 5px;
	border-right: 1px solid;
	display: block;
    float: left;
}
.pagination span.nextPage,
.pagination a.nextPage {
	border: none;
}
